<nav class="navbar">
  <div class="nav-section left">
    <a [routerLink]="['/providers']">Wellbeing+</a>
    <a [routerLink]="['/providers']">About</a>
    <a [routerLink]="['/providers']">Marketplace</a>
    <a [routerLink]="['/providers']">Work with us</a>
  </div>

  <div class="nav-section center">
    <a [routerLink]="['/providers']" class="logo">
      <!-- Replace with your actual logo image -->
      <img src="assets/images/ignite_logo_black.svg" alt="Logo">
    </a>
  </div>

  <div class="nav-section right">
    <button class="btn book-session" [routerLink]="['/providers']">Book a Session</button>
    <button class="btn login" [routerLink]="['/providers']">Login</button>
  </div>
</nav>
